<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-card *ngIf="userProfile">
  <img *ngIf="userProfile" [src]="userProfile.photoURL"/>
  <ion-card-content>
    <ion-card-title *ngIf="userProfile">
      {{ userProfile.displayName }}
    </ion-card-title>
  </ion-card-content>
</ion-card>

<button ion-button full (click)="loginFB()">Login met Facebook</button>
<button ion-button full (click)="logoutFB()">Uitloggen</button>


</ion-content>
