page-maps {
	#map {
		height: 450px;
		width: 100%;
		
	}

	ion-card {
            max-height: 200px;
            overflow: scroll;
            position: absolute;
            z-index: 1;
        }

    .footer  {
    	.wapen {
			margin-top: 0px!important;
		}
		[col-3] {
			margin-top: -60px!important;
		}
	}    

	select{
		width: 150px;
		height: 18px;
		left: 75px;
		position: absolute;
	}

	.CalulateStartButton{
		position: absolute;
		height: 30px;
	}
}
