page-home {

	.leeuwarden {
		background: url(../assets/imgs/leeuwarden-bg.png) center center no-repeat;
		background-size: 110%;
    	background-position: 0 0;
		.small, .small1, .smallest {
			color: $blue;
		}
	}
	.sloten {
		background: url(../assets/imgs/sloten-bg.png) center center no-repeat;
		background-size: 110%;
    	background-position: 0 0;
		h2 {
			color: $red;
		}
		.small, .small1, .smallest {
			color: $red;
		}
		.footer {
			background-color: $red;
		}
	}

	//buttons
	.button {
		color: $black;
		text-decoration: underline;
	}

	.big, .small, .small1, .smallest {
		font-family: $font-head;
		font-weight: 600;
		height: 250px;
		width: 250px;
		border-radius: 50%;
		background-color: $white;
		position: absolute;
		-webkit-box-shadow: 0px 0px 40px -14px rgba(0,0,0,0.41);
		-moz-box-shadow: 0px 0px 40px -14px rgba(0,0,0,0.41);
		box-shadow: 0px 0px 40px -14px rgba(0,0,0,0.41);
		white-space: normal;
	}
	.big {
		font-family: $font-normal;
		font-weight: normal;
		position: absolute;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    top: 140px;
	    text-decoration: none;
	}
	.small {
		height: 110px;
		width: 110px;
		bottom: 120px;
    	left: 0;
	}
	.small1 {
		right: 0!important;
		bottom: 90px;
		height: 120px;
		width: 120px;
	}
	.smallest {
		height: 100px;
		width: 100px;
		right: 0;
    	top: 120px;
	}

	//list items
	ul {
		padding: 0;
		margin-left: 15px;
		li {
			color: $black;
			font-size: 1em;
			margin: 15px 0 0 0;
			text-align: left;
		}
	}

	//slide pager

	.swiper-pagination-bullets {
		bottom: 80px!important;
	}

}
